
/***************************
****************************
	General
****************************
***************************/

body {
	font-size:15px;
	font-family:Arial, sans-serif;
}

a {
	text-decoration:none;
	color:inherit;
}

a:hover {
	text-decoration:underline;
}

/***************************
****************************
	Nav
****************************
***************************/

.nav_bar {
	display:block;
	float:right;
}

.nav_bar li {
	display:inline-block;
	padding-left:15px;
}

.nav_bar li img {
	height:24px;
	position:relative;
	top:7px;
}


/***************************
****************************
	Center Main Body
****************************
***************************/

.container_main {
	display:block;
	width:100%;
	text-align:center;
}

.logo {
	width:100%;
	padding-top:200px;
	padding-bottom:25px;
}

.logo img {
	display:block;
	width: 269px;
	height: 95px;
	margin:auto;
}

.searchbox {
	width: 592px;
	height: 35px;
	margin:auto;
	position:relative;
}

.searchbox input {
	width:570px;
	height:100%;
	border:1px solid #DDDDDD;
	padding: 0 10px;
	position:relative;
	float:left;
	z-index:10;
}

.container {
	position:absolute;
	width:100%;
	height:100%;
}


.searchbox input:hover {
	border:1px solid #AEAEAE;
}

.container_buttons_search {
	display:block;
	margin-top:15px;
}

.container_buttons_search .button_search {
	margin-right:6px;
	margin-left:6px;
	border:1px solid #DDD;
	padding: 8px 3px;
	display: inline-block;
	background-color:#F2F2F2;
	font-size:11px;
	font-weight:600;
}

.button_search:hover {
	border-bottom: 2px solid #CACACA;
	background-color:#F5F5F5;
}

.button_search {
	font-size:11px;
	font-weight:600;
}

.button_search a:hover {
	text-decoration:none;
}

.google_search {
	width:90px;
}


.feeling_lucky {
	width:105px;
}

/***************************
****************************
	Footer
****************************
***************************/

.footer {
	position:absolute;
	width:100%;
	height:40px;
	background-color:#F2F2F2;
	bottom:1px;
	border-top:1px solid #E4E4E4;
}

.footer_left {
	display:block;
	float:left;
	width:48%;
}

.footer_right {
	display: block;
	text-align:right;
}

.footer_left ul li, .footer_right ul li{
	display:inline-block;
	padding-top:1px;
	padding-bottom:1px;
	color:#666;
}

.footer_left ul li{
	padding-left:30px;
}
.footer_right ul li{
	padding-right:30px;
}
